</body>
</html><!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout">
</form>
<div th:switch="${users}">
    <h2 th:case="null">No users found!</h2>
    <div th:case="*">
        <h2>Users</h2>
        <table style="width: 30%;" border="2" cellpadding="1">
            <thead>
            <tr>
                <th>Id</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Age</th>
                <th>E-mail</th>
                <th>Role</th>
            </tr>
            </thead>


            <th:block th:each="obj: ${users}">
                <tbody>
                <tr>
                    <td th:text="${obj.getId()}"></td>
                    <td th:text="${obj.getFirstName()}"></td>
                    <td th:text="${obj.getLastName()}"></td>
                    <td th:text="${obj.getAge()}"></td>
                    <td th:text="${obj.getEmail()}"></td>
                    <td th:if="${obj.getRoles() != null}">
                        <a th:each="role : ${obj.getRoles()}" th:text="${role.getName()} + ' '"></a>
                    </td>
                </tr>
                </tbody>
            </th:block>
        </table>
    </div>
</div>
</body>
</html>