<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Users</title>
</head>
<body>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout">
</form>
<div th:switch="${users}">
    <h2 th:case="null">No users found!</h2>
    <div th:case="*">
        <h2>Users</h2>
        <table style="width: 30%;" border="2" cellpadding="1">
            <thead>
            <tr>
                <th>Id</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Age</th>
                <th>E-mail</th>
                <th>Roles</th>
                <th>Edit user</th>
                <th>Delete user</th>

            </tr>
            </thead>


            <th:block th:each="obj: ${users}">
                <tbody>
                <tr>
                    <td th:text="${obj.getId()}"></td>
                    <td th:text="${obj.getFirstName()}"></td>
                    <td th:text="${obj.getLastName()}"></td>
                    <td th:text="${obj.getAge()}"></td>
                    <td th:text="${obj.getEmail()}"></td>
                    <td th:if="${obj.getRoles() != null}">
                        <a th:each="role : ${obj.getRoles()}" th:text="${role.getName()} + ' '"></a>
                    </td>
                    <td>
                        <form id="formUpdateUser"
                              th:attrappend="id=${obj.getId()}"
                              th:method="GET"
                              th:action="@{/admin/user-update/{id}(id=${obj.getId()})}">
                            <input type="submit" value="EDIT">
                        </form>
                    </td>
                    <td>
                        <form id="formDeleteUser"
                              th:attrappend="id=${obj.getId()}"
                              th:method="DELETE"
                              th:action="@{/admin/user-delete/{id}(id=${obj.getId()})}">
                            <input type="submit" value="DELETE">
                        </form>
                    </td>

                </tr>
                </tbody>
            </th:block>
        </table>
    </div>
    <p><a href="/admin/user-create">Create user</a></p>
    </div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>